<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitulo}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre Mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid doloribus impedit sequi odio repellat! Maiores explicabo nam cumque. Illum suscipit perferendis et repellat voluptatibus excepturi voluptatem repudiandae commodi velit! Consectetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est rerum distinctio perspiciatis corrupti, beatae quam asperiores molestias quo possimus qui sint voluptas laboriosam cum iusto quas perferendis, atque error. Corrupti? Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, expedita in quos sapiente eum autem at porro inventore quam cumque, eos tenetur cum a! Autem rerum minima facere aut ea? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur molestias aut debitis consectetur labore sapiente beatae incidunt. Possimus, ea dicta labore odio impedit doloribus? Doloribus odit nisi mollitia eos maiores. </p>
</article>
