<div class="container" *ngIf="proyect">
    <h2>{{title}}</h2>

    <div class="message success" *ngIf="status == 'success'" >
      El proyecto se Ha creado correctamente puedes verlo <a [routerLink]="[ '/proyecto', saveProyect._id ]">aqui</a>
    </div>
    

    <div class="message failed" *ngIf="status == 'failed'" >
      El proyecto no se ha podido crear
    </div>

    <form #proyectForm='ngForm' (ngSubmit)='onSubmit(proyectForm)' >

      <p>
        <label for="name">Nombre</label>
        <input required type="text" name="name" id="name" #name="ngModel" [(ngModel)]="proyect.name">
        <span  class="spanError"  *ngIf="name.touched && !name.valid">El nombre es obligatorio</span>
      </p>
      
      <p>
        <label for="description">Descripcion</label>
        <textarea required name="description" id="description" #description="ngModel" [(ngModel)]="proyect.description"> </textarea>
        <span class="spanError" *ngIf="description.touched && !description.valid">La descripcion es obligatorio</span>
      </p>

      <p>
        <label for="category">Categoria</label>
        <input required type="text" name="category" id="category" #category="ngModel" [(ngModel)]="proyect.category">
        <span  class="spanError" *ngIf="category.touched && !category.valid">La categoria es obligatorio</span>
      </p>

      <p>
        <label for="year">Año de lanzamiento</label>
        <input required type="number" name="year" id="year" #year="ngModel" [(ngModel)]="proyect.year">
      </p>

      <p>
        <label for="langs">Lenguajes Usados</label>
        <input required type="text" name="langs" id="langs" #langs="ngModel" [(ngModel)]="proyect.langs">
        <span  class="spanError" *ngIf="langs.touched && !langs.valid">Los lenguajes son obligatorios</span>
      </p>

      <p>
        <label for="image">Imagen del proyecto</label>
        <span *ngIf="proyect.image" class="image" style="float:none" > 
            <img [src]= "url + 'get-image/' + proyect.image" *ngIf="proyect.image" style="width:100px"/>
        </span><br>
        <input (change)="fileChangeEvent($event)"  type="file" name="image" id="image"  placeholder="Subir Imagen">
      </p>
  
      <input type="submit" value="Enviar" [disabled]='!proyectForm.form.valid'>
      <input type="reset" value="Limpiar"  >
    </form>

</div>





